---
let allPosts = await Astro.glob('../posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Loop through all the posts and make a list of all categories
let categories = [];

allPosts.forEach((post) => {
    let category = post.frontmatter.category;
    if (!categories.includes(category)) {
        categories.push(category.split(' ').join('-').toLowerCase());
    }
  }
);

console.log(categories);

// Export the categories with the getStaticPaths() function
export async function getStaticPaths() {
    return categories.map(category => ({params: {category: category}}))
}

const { category } = Astro.params;
---

<p class="text-[#000000]">{categories}</p>