---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Luminate OS">
    <h1 class="flex justify-center items-center text-center font-bold text-3xl">LUMINATE OS WEBSITE <br> COMING SOON</h1>
</MainLayout>