---
export interface Props {
	post: any;
}

const { post } = Astro.props;

---

<article class="my-5 p-5 rounded-xl">
	<header>
		<div class="flex text-sm">
			<p><a href={post.frontmatter.authorURL}>{ post.frontmatter.author }</a> · { post.frontmatter.publishDate } · <span class="bg-[#FFFFFF]/40 p-1 px-2 rounded-full">{ post.frontmatter.category }</span></p>
		</div>

		<a class="text-2xl font-bold my-2 hover:underline flex" href={post.url}><h1>{post.frontmatter.title}</h1></a>

	</header>
	<p class="my-1">{post.frontmatter.description}</p>
	<hr class="text-grey mt-5">
</article>
