---
---

<footer class="bg-[#FFFFFF]/80 my-10 py-10 text-[#000000] translate-y-10 bottom-0 inset-x-0 backdrop-blur-sm">
  <div class="block md:flex md:container md:mx-auto">
    <div class="md:hidden flex items-center mb-5">
      <a href="https://luminateos.com"><img class="h-10 mx-5" src="/LuminateLogo.svg" alt="" /></a>
    </div>
    <div class="md:hidden flex ml-auto mb-5">
      <!-- <div class="mx-5">
          <p class="font-bold">LEGAL</p>
          <ul class="text-sm">
              <li class="hover:underline my-1"><a href="">License</a></li>
              <li class="hover:underline my-1"><a href="">Terms of conditions</a></li>
              <li class="hover:underline my-1"><a href="">Disclaimer</a></li>
          </ul>
      </div> -->
      <div class="mx-5">
          <p class="font-bold">RESOURCES</p>
          <ul class="text-sm">
              <li class="hover:underline my-1"><a href="https://github.com/Luminate-Mobile-OS">GitHub</a></li>
              <li class="hover:underline my-1"><a href="https://files.luminateos.com">File Library</a></li>
              <li class="hover:underline my-1"><a href="https://www.luminateos.com/">Website</a></li>
          </ul>
      </div>
  </div>
    <div>
      <div class="hidden md:flex items-center">
        <a href="https://luminateos.com"><img class="h-10 mx-5" src="/LuminateLogo.svg" alt="" /></a>
      </div>
      <div class="text-sm mx-5 mt-2">
        <p>
          There is no download avaiable at the moment <br /> The project is currently
          under development
        </p>
        <p class="my-5">
          Copyright © 2023 Luminate OS Contributors. All rights reserved
        </p>
      </div>
    </div>
    <div class="hidden md:flex ml-auto">
        <!-- We dont have any legal stuff setup yet so its commented. -->
        <!-- <div class="mx-5">
            <p class="font-bold">LEGAL</p>
            <ul class="text-sm">
                <li class="hover:underline my-1"><a href="">License</a></li>
                <li class="hover:underline my-1"><a href="">Terms of conditions</a></li>
                <li class="hover:underline my-1"><a href="">Disclaimer</a></li>
            </ul>
        </div> -->
        <div class="mx-5">
            <p class="font-bold">RESOURCES</p>
            <ul class="text-sm">
                <li class="hover:underline my-1"><a href="https://github.com/Luminate-Mobile-OS">GitHub</a></li>
                <li class="hover:underline my-1"><a href="https://blog.luminateos.com">Blog</a></li>
                <li class="hover:underline my-1"><a href="files.luminateos.com/">File Library</a></li>
            </ul>
        </div>
    </div>
  </div>
</footer>