---
---

<footer class="md:container md:mx-auto bg-secondary m-10 my-10 py-10 text-[#FFFFFF] rounded-t-md translate-y-10 bottom-0 inset-x-0">
  <div class="block md:flex">
    <div class="md:hidden flex items-center mb-5">
      <img class="h-10 mx-5" src="./LuminateLogo.svg" alt="" />
    </div>
    <div class="md:hidden flex ml-auto mb-5">
      <div class="mx-5">
          <p class="font-bold">LEGAL</p>
          <ul class="text-sm">
              <li class="hover:underline my-1"><a href="">License</a></li>
              <li class="hover:underline my-1"><a href="">Terms of conditions</a></li>
              <li class="hover:underline my-1"><a href="">Disclaimer</a></li>
          </ul>
      </div>
      <div class="mx-5">
          <p class="font-bold">RESOURCES</p>
          <ul class="text-sm">
              <li class="hover:underline my-1"><a href="">GitHub</a></li>
              <li class="hover:underline my-1"><a href="">Website</a></li>
              <li class="hover:underline my-1"><a href="">Documentation</a></li>
          </ul>
      </div>
  </div>
    <div>
      <div class="hidden md:flex items-center">
        <img class="h-10 mx-5" src="./LuminateLogo.svg" alt="" />
      </div>
      <div class="text-sm mx-5 mt-2">
        <p>
          There is no download avaiable at the moment <br /> The project is currently
          under development
        </p>
        <p class="my-5">
          Copyright © 2023 Luminate OS Contributors. All rights reserved
        </p>
      </div>
    </div>
    <div class="hidden md:flex ml-auto">
        <div class="mx-5">
            <p class="font-bold">LEGAL</p>
            <ul class="text-sm">
                <li class="hover:underline my-1"><a href="">License</a></li>
                <li class="hover:underline my-1"><a href="">Terms of conditions</a></li>
                <li class="hover:underline my-1"><a href="">Disclaimer</a></li>
            </ul>
        </div>
        <div class="mx-5">
            <p class="font-bold">RESOURCES</p>
            <ul class="text-sm">
                <li class="hover:underline my-1"><a href="">GitHub</a></li>
                <li class="hover:underline my-1"><a href="">Website</a></li>
                <li class="hover:underline my-1"><a href="">Documentation</a></li>
            </ul>
        </div>
    </div>
  </div>
</footer>
