---
---

<div class="block bg-[#FFFFFF]/40 h-16 rounded-3xl m-10">
  <div class="flex h-full w-full">
    <div class="flex items-center">
        <img class="h-10 mx-5" src="./LuminateLogo.svg" alt="" />
    </div>
    <div class="ml-auto text-xl flex items-center">
      <a class="font-medium mx-5 hover:font-bold" href="">Features</a>
      <a class="font-medium mx-5 mr-10 hover:font-bold" href="">Blog</a>
    </div>
  </div>
</div>
